/*========
header
==========*/
$blue: #061940;
$red: #d94343;
$black: #0f0f0f;
$gray: #bcbcbc;
$yellow: #efeb59;
.header-title {
  min-height: 75vh;
  padding-top: 7em;
  h1 {
    font-size: 10rem;
  }
}
